*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  #conteItemsCarrusel{
    border: 5px solid black;
    height: 200px;
    overflow: hidden;
}
  .itemCarrusel{
    border: 1px solid black;
    position: relative;
    height: 100%;
  }
  .tarjetaCarrusel{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  .flechasCarrusel{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
    
#tarjetaCarrusel-1{
    background-color: beige;
}
#tarjetaCarrusel-2{
    background-color: rgb(207, 207, 28);
}
#tarjetaCarrusel-3{
    background-color: rgb(131, 15, 15);
}

a{
    text-decoration: none;

}

i{
    color: #ddd ;
}

.siguiente{
    transform: rotateX(180deg);
}

#contePuntos{
    display: flex;
    justify-content: space-around;
}

#contePuntos > a{
    font-size: 1.5em;
   background-color: #000;
   font-style: none;
}
