html{
    background-color:hsl(185, 75%, 39%);
   
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    transform: scale(550%);
    width: 100%;
    height: 100%;
   
   }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 15%;
    padding: 1em;
    background-image: url('images/tech_01.png'); opacity: 50%;
    background-size: 100%;
    transition: all 1s ease-in-out;
  }

  .content:hover {
    transform: translatey(-35%);    
    opacity: 100%;
   
  }
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
.attribution {
    margin-top: 5%;
}
    

.card{
    width: 25em;
    height: 32em;
    position: absolute;
    display: flex;
    background-color:whitesmoke;
    top: 5em;
    left: 0;
    bottom:0;
    right: 0; 
    margin: auto;
    border-radius: 5%;
    align-content: space-between;
}
body{
  margin: 0;
   min-height: 100vh;
   position: absolute;
   width: 100%;
   height: 100%;     
   font-family: 'Kumbh Sans', sans-serif;

}

.card__header{
    position: absolute;    
    height: 35%;
    border-radius: 20px 20px 0px 0px;
    top: 0;
    left: 0;
    bottom: 750px;
    right: 0;
    margin: auto;
    background-image: url();
    background-repeat: round;
    box-shadow: 0px 0px 10px 0px #182863;
    background-color:rgb(179, 192, 192);
    background-image: url('images/tech_07.gif');
    }

.card__image{
    height: 130px;
    width: 100px;
    position: relative;
    display: block;
    border-radius: 60%;
    top: 55%;
    margin: auto;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    
    
}
.card__body{
   
    width: 100%;
    padding-top: 30%;
    border-color: black;
    box-shadow: 0px 1px 0px 1px #182863;
    border-radius: 10px 0px 0px 10px;
    height: 60%;    
    max-width: 120em;
    

}
.visor{
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
   padding-left: 4.5em;
   overflow: hidden;

  }


.puntos{
  
  display: flex;
  width: 50%;
  height: 50%;
  flex-flow: row nowrap;

}
.siguiente{
transform: rotateY(180deg);

}
.punto{
width: 2em;
height: 2em;
margin: 1em;
padding-left: 2em;

}
.punto:hover{
  background-color: rgba(146, 152, 156, 0.527);
 border-radius: 50em;

  
  }

.card__formacion{
  display: block;
    position: relative;
    line-height: 1.2;
    height: 100%;
    background-color:whitesmoke;
    
    
}

.card__bachiller{
 


}
.card__gestion{

  
  
  }
.card__facultad{
  
}
.card__experiencia{
  display: block;
  position: relative;
  line-height: 1; 
  height: 100%;
  background-color:whitesmoke;
  
  
}
.card__empresa{

}

.card__empresab{


 
}
.card__conocimientoshabilidades{
  display: block;
  position: relative;
  line-height: 1;
  background-color:whitesmoke;
  height: 100%;
    
}
@media screen and (max-width: 800px){
  .card__formacion{
    line-height: 1.21;
  }
  }
@media screen and (min-width: 800px){
.card__experiencia{
  padding-top: 0.02em;

}
.card__formacion{
  line-height: 1.21;
}
}
.card__conocimientos{

}

.card__habilidades{
 
}
.card__text{
    position: relative;
    display: inline-block;
    line-height: 2;
    padding-right: 2em;
    padding-left: 1em;
    
}
.card__text--light{
    text-align: center;
    display: inline;
    color:hsl(227, 10%, 46%);
    position: absolute;
    padding: 0.5em;
    padding-top: 1em;

    


}
.card__text__london{
    position: relative;
    padding-left: 13%;
    color: hsl(227, 10%, 46%);
    line-height: 2;
    display: inline-block;

}


.card__footer {
position: absolute;
top: 1;
left: 0;
bottom: 0;
right: 0;
margin: auto;
width: 100%;
height: 18%;
border-radius: 0px 0px 20px 20px;
justify-content: space-evenly;
display: flex;
align-items: flex-start;
border-top:  hsl(227, 10%, 46%) solid 1px;
background-repeat: round;
box-shadow: 0px 0px 10px 0px #182863;
background-color:rgb(179, 192, 192);



}
.card__stats{
    padding-top: 1em;
    text-align: center;
    
    
}
 .card__number{   
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 15px;

}
.card__textcard__text--light{
    color: hsl(227, 10%, 46%);
    line-height: 2;
    font-size: 12px;
    font-stretch: expanded 5px;
       

}
.contePuntos{
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  z-index: 100;
  border-style: dotted;

}
#contePuntos{

}

#contePuntos > a{
  font-size: 1.5em;
 background-color: #000;
 font-style: none;
}
